.classDisplay {
    border-radius: 10px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

p {
    margin-block-start: 0px;
}

img {
    object-fit: cover;
    width: 100%;
    height: 200px;
}

#mountainImg {
    width: 100%;
    height: auto;
}