<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      14ers
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mountains</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="7">
        <ion-segment (ionChange)="sortChanged($event)">
          <ion-segment-button value="name">
            <ion-label>A - Z</ion-label>
          </ion-segment-button>
          <ion-segment-button value="elevation">
            <ion-label>Elevation</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item *ngFor="let mountain of mountains; index as i" routerLink="detail/{{mountain.id}}">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div><img src="../../assets/icon/mountain.ico"></div>
          </ion-col>
          <ion-col size="5">
            <div><p><b>{{mountain.name}}</b></p></div>
          </ion-col>
          <ion-col>
            <div><p>{{mountain.elevation | number}}'</p></div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  
</ion-content>
