#leftbox {
    float:left;  
    background:Red; 
    width:25%;
}

#middlebox {
    float:left;  
    background:Green; 
    width:50%;
}

#rightbox {
    float:right; 
    background:blue; 
    width:25%;
}