<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Mountains
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openModal()">Filter</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="sortStatus" (ionChange)="handleEvent()">
      <ion-segment-button value="name">
        <ion-label>A - Z</ion-label>
      </ion-segment-button>
      <ion-segment-button value="elevation">
        <ion-label>Elevation</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true" style="padding: 0px" >
  <h3 style="text-align: center; padding: 20%" *ngIf="filteredMountains.length == 0">No mountains found. Broaden your search criteria.</h3>
  <ion-list style="padding: 0px;">
    <ion-virtual-scroll [items]="filteredMountains" approxItemHeight="75px" >
    <ion-item 
      *virtualItem="let mountain"
      routerLink="detail/{{mountain.id}}" 
      lines="full" 
      style="padding: 0px;" 
      class="ion-no-padding"
    >
      <ion-thumbnail slot="start" class="ion-no-margin" style="size: 75px;">
        <img [src]="mountain.thumbnailUrl">
      </ion-thumbnail>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div style="padding-left: 10px;">
              <div>
                <b>{{mountain.name}}</b>
              </div>
              <div id="mountainDetails">
                <small id="elevation">{{ mountain.elevation | number }}'</small>
                <small>&nbsp;&nbsp;| {{ mountain.range }}</small>
              </div>
              <div *ngIf="mountain.hasRouteClass">
                <span *ngIf="mountain.hasRouteClass[0]" style="background-color: #77d505;" class="dot"></span>
                <span *ngIf="!mountain.hasRouteClass[0]" style="background-color: #d8d9da;" class="dot"></span>
                <span *ngIf="mountain.hasRouteClass[1]" style="background-color: #fdcd01;" class="dot"></span>
                <span *ngIf="!mountain.hasRouteClass[1]" style="background-color: #d8d9da;" class="dot"></span>
                <span *ngIf="mountain.hasRouteClass[2]" style="background-color: #fda204;" class="dot"></span>
                <span *ngIf="!mountain.hasRouteClass[2]" style="background-color: #d8d9da;" class="dot"></span>
                <span *ngIf="mountain.hasRouteClass[3]" style="background-color: #fd5d02;" class="dot"></span>
                <span *ngIf="!mountain.hasRouteClass[3]" style="background-color: #d8d9da;" class="dot"></span>
                <span *ngIf="mountain.hasRouteClass[4]" style="background-color: #d53732;" class="dot"></span>
                <span *ngIf="!mountain.hasRouteClass[4]" style="background-color: #d8d9da;" class="dot"></span>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    </ion-virtual-scroll>
  </ion-list>
</ion-content>