<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Mountains
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openModal()">Filter / Sort</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="sortStatus" (ionChange)="handleEvent()">
      <ion-segment-button value="name">
        <ion-label>A - Z</ion-label>
      </ion-segment-button>
      <ion-segment-button value="elevation">
        <ion-label>Elevation</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
<!--  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label class="ion-text-left">Select</ion-label>
        </ion-col>
        <ion-col>
          <ion-select [(ngModel)]="state" (ionChange)="handleEvent()">
            <ion-select-option value="All">All</ion-select-option>
            <ion-select-option value="CO">Colorado</ion-select-option>
            <ion-select-option value="blonde">Blonde</ion-select-option>
            <ion-select-option value="black">Black</ion-select-option>
            <ion-select-option value="red">Red</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
-->

</ion-header>
<ion-content fullscreen="true" style="padding: 0px" >

<!--
  <ion-list class="ion-no-padding">
  <ion-virtual-scroll [items]="filteredMountains" approxItemHeight="100px">
    <ion-item *virtualItem="let mountain" lines="full" routerLink="detail/{{mountain.id}}" style="padding: 0px">
      <ion-thumbnail slot="start" class="ion-no-margin" style="size: 75px;">
        <img [src]="mountain.imageUrl">
      </ion-thumbnail>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div style="padding-left: 10px;">
              <div>
                <b>{{mountain.name}}</b>
              </div>
              <div id="mountainDetails">
                <small id="elevation">{{ mountain.elevation | number }}'</small>
                <small>&nbsp;&nbsp;| {{ mountain.range }}</small>
              </div>
              <div *ngIf="mountain.hasRouteClass">
                <span *ngIf="mountain.hasRouteClass[0]" style="background-color: #77d505;" class="dot"></span>
                <span *ngIf="!mountain.hasRouteClass[0]" style="background-color: #d8d9da;" class="dot"></span>
                <span *ngIf="mountain.hasRouteClass[1]" style="background-color: #fdcd01;" class="dot"></span>
                <span *ngIf="!mountain.hasRouteClass[1]" style="background-color: #d8d9da;" class="dot"></span>
                <span *ngIf="mountain.hasRouteClass[2]" style="background-color: #fda204;" class="dot"></span>
                <span *ngIf="!mountain.hasRouteClass[2]" style="background-color: #d8d9da;" class="dot"></span>
                <span *ngIf="mountain.hasRouteClass[3]" style="background-color: #fd5d02;" class="dot"></span>
                <span *ngIf="!mountain.hasRouteClass[3]" style="background-color: #d8d9da;" class="dot"></span>
                <span *ngIf="mountain.hasRouteClass[4]" style="background-color: #d53732;" class="dot"></span>
                <span *ngIf="!mountain.hasRouteClass[4]" style="background-color: #d8d9da;" class="dot"></span>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-virtual-scroll>
</ion-list>

-->


  <ion-list style="padding: 0px;">
    <ion-virtual-scroll [items]="filteredMountains" approxItemHeight="75px" >
    <ion-item 
      *virtualItem="let mountain"
      routerLink="detail/{{mountain.id}}" 
      lines="full" 
      style="padding: 0px;" 
      class="ion-no-padding"

    >
      <ion-thumbnail slot="start" class="ion-no-margin" style="size: 75px;">
        <img [src]="mountain.thumbnailUrl">
      </ion-thumbnail>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div style="padding-left: 10px;">
              <div>
                <b>{{mountain.name}}</b>
              </div>
              <div id="mountainDetails">
                <small id="elevation">{{ mountain.elevation | number }}'</small>
                <small>&nbsp;&nbsp;| {{ mountain.range }}</small>
              </div>
              <div *ngIf="mountain.hasRouteClass">
                <span *ngIf="mountain.hasRouteClass[0]" style="background-color: #77d505;" class="dot"></span>
                <span *ngIf="!mountain.hasRouteClass[0]" style="background-color: #d8d9da;" class="dot"></span>
                <span *ngIf="mountain.hasRouteClass[1]" style="background-color: #fdcd01;" class="dot"></span>
                <span *ngIf="!mountain.hasRouteClass[1]" style="background-color: #d8d9da;" class="dot"></span>
                <span *ngIf="mountain.hasRouteClass[2]" style="background-color: #fda204;" class="dot"></span>
                <span *ngIf="!mountain.hasRouteClass[2]" style="background-color: #d8d9da;" class="dot"></span>
                <span *ngIf="mountain.hasRouteClass[3]" style="background-color: #fd5d02;" class="dot"></span>
                <span *ngIf="!mountain.hasRouteClass[3]" style="background-color: #d8d9da;" class="dot"></span>
                <span *ngIf="mountain.hasRouteClass[4]" style="background-color: #d53732;" class="dot"></span>
                <span *ngIf="!mountain.hasRouteClass[4]" style="background-color: #d8d9da;" class="dot"></span>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    </ion-virtual-scroll>
  </ion-list>



</ion-content>

<!--
<ion-content fullscreen="true">
  <ion-list>
    <ion-item *ngFor="let mountain of filteredMountains; index as i" routerLink="detail/{{mountain.id}}">
      <ion-thumbnail  slot="start">
        <img  src="../../assets/icon/lincoln@3x.png">
      </ion-thumbnail>
      <ion-grid>
        <ion-row>
          <ion-col size="9">
            <div>
              <b>{{mountain.name}}</b>
            </div>
            <div id="mountainDetails">
              <small id="elevation">{{ mountain.elevation | number }}'</small>
              <small>&nbsp;&nbsp;| {{ mountain.range }}</small>
            </div>
            <div *ngIf="mountain.hasRouteClass">
              <span *ngIf="mountain.hasRouteClass[0]" style="background-color: #77d505;" class="dot"></span>
              <span *ngIf="!mountain.hasRouteClass[0]" style="background-color: #d8d9da;" class="dot"></span>
              <span *ngIf="mountain.hasRouteClass[1]" style="background-color: #fdcd01;" class="dot"></span>
              <span *ngIf="!mountain.hasRouteClass[1]" style="background-color: #d8d9da;" class="dot"></span>
              <span *ngIf="mountain.hasRouteClass[2]" style="background-color: #fda204;" class="dot"></span>
              <span *ngIf="!mountain.hasRouteClass[2]" style="background-color: #d8d9da;" class="dot"></span>
              <span *ngIf="mountain.hasRouteClass[3]" style="background-color: #fd5d02;" class="dot"></span>
              <span *ngIf="!mountain.hasRouteClass[3]" style="background-color: #d8d9da;" class="dot"></span>
              <span *ngIf="mountain.hasRouteClass[4]" style="background-color: #d53732;" class="dot"></span>
              <span *ngIf="!mountain.hasRouteClass[4]" style="background-color: #d8d9da;" class="dot"></span>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>

-->
<!-- 
<ion-content fullscreen="true">


<ion-header [translucent]="true">
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="7">
        <ion-segment [(ngModel)]="sortStatus" (ionChange)="handleEvent()">
          <ion-segment-button value="name">
            <ion-label>A - Z</ion-label>
          </ion-segment-button>
          <ion-segment-button value="elevation">
            <ion-label>Elevation</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
  <ion-item>
    <ion-label>Select</ion-label>
    <ion-select [(ngModel)]="state" (ionChange)="handleEvent()">
      <ion-select-option value="All">All</ion-select-option>
      <ion-select-option value="CO">Colorado</ion-select-option>
      <ion-select-option value="blonde">Blonde</ion-select-option>
      <ion-select-option value="black">Black</ion-select-option>
      <ion-select-option value="red">Red</ion-select-option>
    </ion-select>
  </ion-item>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let mountain of mountains; index as i" routerLink="detail/{{mountain.id}}">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div><p>{{ i + 1 }}</p></div>
          </ion-col>
          <ion-col size="7">
            <div><p><b>{{mountain.name}}</b></p></div>
          </ion-col>
          
          <ion-col>
            <div><p>{{mountain.elevation | number}}'</p></div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
</ion-content>


<!-- 
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Toolbar</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mountains</ion-title>
    </ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="7">
          <ion-segment [(ngModel)]="sortStatus" (ionChange)="handleEvent()">
            <ion-segment-button value="name">
              <ion-label>A - Z</ion-label>
            </ion-segment-button>
            <ion-segment-button value="elevation">
              <ion-label>Elevation</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
    <ion-item>
      <ion-label>Select</ion-label>
      <ion-select [(ngModel)]="state" (ionChange)="handleEvent()">
        <ion-select-option value="All">All</ion-select-option>
        <ion-select-option value="CO">Colorado</ion-select-option>
        <ion-select-option value="blonde">Blonde</ion-select-option>
        <ion-select-option value="black">Black</ion-select-option>
        <ion-select-option value="red">Red</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-header>
  <ion-list>
    <ion-item *ngFor="let mountain of mountains; index as i" routerLink="detail/{{mountain.id}}">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div><p>{{ i + 1 }}</p></div>
          </ion-col>
          <ion-col size="7">
            <div><p><b>{{mountain.name}}</b></p></div>
          </ion-col>
          
          <ion-col>
            <div><p>{{mountain.elevation | number}}'</p></div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  
</ion-content>
-->