<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="ion-text-center">Progress</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item *ngFor="let mountain of completedMountains | keyvalue" routerLink="detail/{{mountain.value.mountainId}}">
      <ion-buttons slot="start">
        <ion-icon slot="start" name="checkmark-circle" (click)="handleBookmark()"></ion-icon>
      </ion-buttons>
      <ion-col>
        <div>
          <b>{{mountain.value.name}}</b>
        </div>
        <div id="mountainDetails">
          <small id="elevation">{{ mountain.value.elevation | number }}'</small>
          <small>&nbsp;&nbsp;| {{ mountain.value.range }}</small>
        </div>
        <div *ngIf="mountain.value.hasRouteClass">
          <span *ngIf="mountain.value.hasRouteClass[0]" style="background-color: #77d505;" class="dot"></span>
          <span *ngIf="!mountain.value.hasRouteClass[0]" style="background-color: #d8d9da;" class="dot"></span>
          <span *ngIf="mountain.value.hasRouteClass[1]" style="background-color: #fdcd01;" class="dot"></span>
          <span *ngIf="!mountain.value.hasRouteClass[1]" style="background-color: #d8d9da;" class="dot"></span>
          <span *ngIf="mountain.value.hasRouteClass[2]" style="background-color: #fda204;" class="dot"></span>
          <span *ngIf="!mountain.value.hasRouteClass[2]" style="background-color: #d8d9da;" class="dot"></span>
          <span *ngIf="mountain.value.hasRouteClass[3]" style="background-color: #fd5d02;" class="dot"></span>
          <span *ngIf="!mountain.value.hasRouteClass[3]" style="background-color: #d8d9da;" class="dot"></span>
          <span *ngIf="mountain.value.hasRouteClass[4]" style="background-color: #d53732;" class="dot"></span>
          <span *ngIf="!mountain.value.hasRouteClass[4]" style="background-color: #d8d9da;" class="dot"></span>
        </div>
      </ion-col>
    </ion-item>
  </ion-list>
</ion-content>
