<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Progress</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <h2>Total Summits: {{ totalSummits }}</h2>
      </ion-col>
    </ion-row>
  </ion-grid>
  <h3 *ngIf="totalSummits == 0" class="ion-text-center" style="padding: 18%;">
    You don't have any summits yet! <br><br>To save your summits click the <br><b>'Save to Progress'</b><br> button located at the bottom of a mountain's page.
  </h3>
  <ion-list style="padding: 0px;">
    <ion-virtual-scroll [items]="completedMountains" approxItemHeight="75px">
      <ion-item 
        *virtualItem="let mountain" 
        routerLink="detail/{{mountain.mountainId}}"
        lines="full"
        style="padding: 0px" 
        class="ion-no-padding"
      >
        <ion-thumbnail slot="start" class="ion-no-margin" style="size: 75px;">
          <img [src]="mountain.thumbnailUrl">
        </ion-thumbnail>        
        <ion-grid class="ion-no-padding">
          <ion-row style="padding-left: 10px;">
            <ion-col size="10">
              <div>
                <b>{{mountain.name}}</b>
              </div>
              <div id="mountainDetails">
                <small id="elevation">{{ mountain.elevation | number }}'</small>
                <small>&nbsp;&nbsp;| {{ mountain.range }}</small>
              </div>
              <div>
                <span>
                  <span>
                    <ion-icon id="checkmarkIcon" color="primary" name="checkmark-circle"></ion-icon>
                    <small id="dateText">{{ mountain.dateCompleted | date }}</small>
                  </span>
                </span>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-virtual-scroll>
  </ion-list>
</ion-content>
